canvas {
    margin-top: 25px;
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ), url("../Assets/night.jpeg");
    width: 50%;
    border: 2px solid black;
}
body {
    text-align: center;
    background-image: url("../Assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: 0px 1px 2px white;
}
h6{
    margin: 30px;
}